:root {
  /* Define custom colors */
  --very-light-gray: hsl(0, 0%, 95%);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

body {
  /* Set font and padding for the body */
  font-family: "Luxend Deca", sans-serif;
  padding: 2rem;
}

.container {
  /* Center align the content in a column */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  /* Set padding and maximum width for the card */
  padding: 3rem;
  max-width: 198px;
}

.very-light-gray {
  /* Set text color to very light gray */
  color: var(--very-light-gray);
}

.bright-orange {
  /* Set background color and border radius for bright orange elements */
  background-color: var(--bright-orange);
  border-radius: 0.5rem 0.5rem 0 0;
}

.dark-cyan {
  /* Set background color for dark cyan elements */
  background-color: var(--dark-cyan);
}

.very-dark-cyan {
  /* Set background color and border radius for very dark cyan elements */
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 0.5rem 0.5rem;
}

h2 {
  /* Set font, text transform, and font size for headings */
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

p {
  /* Set text color, font size, and line height for paragraphs */
  color: var(--very-light-gray);
  font-size: 15px;
  line-height: 1.5rem;
}

.btn {
  /* Set font, border, border radius, padding, margin, cursor, and transition for buttons */
  font-family: "Luxend Deca", sans-serif;
  border: solid;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.bright-orange > .btn {
  /* Set text color for bright orange buttons */
  color: var(--bright-orange);
}

.bright-orange > .btn:hover {
  /* Set background color, text color, and border for bright orange buttons on hover */
  background: var(--bright-orange);
  color: var(--very-light-gray);
  border: solid var(--very-light-gray);
}

.dark-cyan > .btn {
  /* Set text color for dark cyan buttons */
  color: var(--dark-cyan);
}

.dark-cyan > .btn:hover {
  /* Set background color, text color, and border for dark cyan buttons on hover */
  background-color: var(--dark-cyan);
  color: var(--very-light-gray);
  border: solid var(--very-light-gray);
}

.very-dark-cyan > .btn {
  /* Set text color for very dark cyan buttons */
  color: var(--very-dark-cyan);
}

.very-dark-cyan > .btn:hover {
  /* Set background color, text color, and border for very dark cyan buttons on hover */
  background-color: var(--very-dark-cyan);
  color: var(--very-light-gray);
  border: solid var(--very-light-gray);
}

.attribution {
  /* Set font size, text align, and color for attribution text */
  font-size: 11px;
  text-align: center;
  color: black;
  margin-top: 2rem;
}

.attribution a {
  /* Set color for attribution links */
  color: hsl(228, 45%, 44%);
}

@media (min-width: 941px) {
  /* Media query for larger screens */
  .container {
    /* Center align the content in a row */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
  }
  .bright-orange {
    /* Adjust border radius for bright orange elements on larger screens */
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .very-dark-cyan {
    /* Adjust border radius for very dark cyan elements on larger screens */
    border-radius: 0 0.5rem 0.5rem 0;
  }
}